.footer_knhn_1_0_0 {
  background: #003c77;
  padding: 30px 0;
  font-size: 14px;
}
.footer_knhn_1_0_0__inner {
  display: flex;
}
.footer_knhn_1_0_0__aside {
  width: 40%;
}
.footer_knhn_1_0_0__logo {
  max-width: 215px;
  margin-bottom: 20px;
}
.footer_knhn_1_0_0__logo img {
  width: 100%;
  height: auto;
  display: block;
}
.footer_knhn_1_0_0__box {
  flex: 1;
  padding: 0 90px;
}
.footer_knhn_1_0_0__contact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.footer_knhn_1_0_0__contactItem {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 12px;
  padding: 5px 20px;
}
.footer_knhn_1_0_0__contactIcon {
  width: 70px;
}
.footer_knhn_1_0_0__contactIcon img {
  width: 100%;
  height: auto;
  display: block;
}
.footer_knhn_1_0_0__contactText {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.1rem;
}
.footer_knhn_1_0_0__contactText span {
  display: block;
  color: #fec465;
  font-size: 2.3rem;
  line-height: 1.2;
}
.footer_knhn_1_0_0__item {
  color: #fff;
  margin-top: 15px;
}
.footer_knhn_1_0_0__slogan {
  color: #fec465;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2rem;
}
.footer_knhn_1_0_0__slogan--1 {
  display: none;
}
.footer_knhn_1_0_0__info {
  text-align: justify;
  margin-top: 5px;
  font-size: 14px;
}
.footer_knhn_1_0_0__address p {
  color: #fff;
}
.footer_knhn_1_0_0__address--1 .footer_knhn_1_0_0__img img {
  width: 25px;
}
.footer_knhn_1_0_0__img {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}
.footer_knhn_1_0_0__img p {
  margin: 0;
  color: #fec465;
}
.footer_knhn_1_0_0__img p a {
  color: #fff;
}
.footer_knhn_1_0_0__img img {
  width: 20px;
  height: auto;
}
.footer_knhn_1_0_0__content {
  display: flex;
  margin: 15px 0;
  gap: 10px;
}
.footer_knhn_1_0_0__icon img {
  height: auto;
  display: block;
  transition: 0.5s;
}
.footer_knhn_1_0_0__icon img:hover {
  opacity: 0.5;
}
.footer_knhn_1_0_0__list {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer_knhn_1_0_0__list span {
  color: #fff;
  padding: 5px 15px;
  border-radius: 30px;
  border: 1px solid #fff;
}
.footer_knhn_1_0_0__list span:hover {
  background-color: #fff;
  color: #003c77;
  transition: all 0.2s linear;
}
@media (max-width: 1200px) {
  .footer_knhn_1_0_0__logo {
    max-width: 190px;
  }
  .footer_knhn_1_0_0__box {
    padding: 0 30px;
  }
  .footer_knhn_1_0_0__contactText span {
    font-size: 2rem;
  }
}
@media (max-width: 1024px) {
  .footer_knhn_1_0_0__box {
    padding: 0 20px;
  }
  .footer_knhn_1_0_0__contact {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer_knhn_1_0_0__contactIcon {
    width: 60px;
  }
  .footer_knhn_1_0_0__contactText span {
    font-size: 1.8rem;
  }
  .footer_knhn_1_0_0__content {
    flex-wrap: wrap;
  }
}
@media (max-width: 767px) {
  .footer_knhn_1_0_0__inner {
    flex-direction: column;
  }
  .footer_knhn_1_0_0__aside {
    width: 100%;
  }
  .footer_knhn_1_0_0__logo {
    max-width: 170px;
    margin-left: auto;
    margin-right: auto;
  }
  .footer_knhn_1_0_0__slogan {
    text-align: center;
    margin-bottom: 5px;
  }
  .footer_knhn_1_0_0__slogan--1 {
    display: block;
  }
  .footer_knhn_1_0_0__slogan--2 {
    display: none;
  }
  .footer_knhn_1_0_0__box {
    padding: 0;
  }
  .footer_knhn_1_0_0__contact {
    flex-direction: column;
  }
  .footer_knhn_1_0_0__contactItem {
    width: 100%;
    justify-content: center;
  }
  .footer_knhn_1_0_0__item {
    width: 100%;
  }
  .footer_knhn_1_0_0__img {
    justify-content: center;
  }
  .footer_knhn_1_0_0__address {
    border-bottom: 1px solid #fff;
    margin-top: 10px;
  }
  .footer_knhn_1_0_0__address--1 {
    text-align: center;
    border: none;
    margin-top: 10px;
  }
  .footer_knhn_1_0_0__content {
    flex-direction: column;
    margin: 0 0 30px;
    gap: 20px;
  }
  .footer_knhn_1_0_0__list {
    justify-content: center;
  }
  .footer_knhn_1_0_0__list--1 {
    order: 3;
  }
  .footer_knhn_1_0_0__pic {
    width: 43%;
  }
  .footer_knhn_1_0_0__pic img {
    width: 100%;
  }
}
@media (max-width: 320px) {
  .footer_knhn_1_0_0__logo {
    max-width: 160px;
  }
  .footer_knhn_1_0_0__img {
    width: 85%;
  }
  .footer_knhn_1_0_0__pic {
    width: 50%;
  }
  .footer_knhn_1_0_0__list span {
    padding: 5px;
    font-size: 12px;
    width: 58%;
    text-align: center;
  }
}/*# sourceMappingURL=footer_knhn_1_0_0.css.map */