:root {
    --primary-font: "Roboto", sans-serif;
    --secondary-font: Roboto, system-ui, -apple-system, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --white-color: #fff;
    --basic-color:#f0f0f0;
    --primary-color:#006631;
    --info-color: #5bc0de;
}
.aligncenter{margin:20px auto;text-align:center;display:block;max-width:100%;height:auto}
blockquote{border:3px dashed #25c757eb;background:#fff;margin:0 auto 10px;padding:0 20px;max-width:80%}
body.home {
    padding-top: 65px;           
}     
body.site{
    padding-top: 85px;
}

.modal-btn {
    cursor: pointer;
}