.pop_formreg_1_2_0 {
    &__box {
        .modal-close {
            font-size: 25px;
            line-height: 0.9;
            margin-right: -16px;
            margin-top: -10px;
        }
        .modal-title{
            .logo{
                width: 180px;
            }
        }
        .modal-box {
            max-width: 350px;
            min-width: 310px;
            @media (max-width: 280px) {
                min-width: 250px;
            }
        }
        .modal-header {
            text-align: center;
            border-bottom: unset;
        }
    }
    &__des {
        p {
            font-size: 18px;
            font-weight: 600;
            color: #004a80;
            margin: 0;
        }
        i {
            color: #004a80;
            font-size: 16px;
        }
    }
    &__viber,
    &__whatsapp,
    &__zalo,
    &__name {
        display: flex;
        justify-content: space-evenly;
        padding: 5px 10px;
        border: 1px solid #004a80;
        border-radius: 10px;
        margin-bottom: 15px;
        input {
            border: none;
        }
    }
    &__name {
        input {
            color: black;
        }
    }
    &__viber {
        input {
            color: #834995;
        }
    }
    &__whatsapp {
        input {
            color: #00a859;
        }
    }
    &__zalo {
        input {
            color: #0180c7;
        }
    }
    &__sub {
        text-align: center;
        input {
            width: 65%;
            background: rgb(253, 72, 16);
            background: linear-gradient(90deg, rgba(253, 72, 16, 1) 0%, rgba(254, 104, 30, 1) 75%, rgba(255, 114, 0, 1) 100%);
            color: #fff;
            border: none;
            cursor: pointer;
            font-size: 14px;
            margin: 0px auto 10px;
            display: flex;
            justify-content: center;
            border-radius: 20px;
            font-weight: bold;
            padding: 8px 12px;
        }
        p {
            margin: 0;
            font-style: italic;
        }
    }
    .form-group.invalid > div:nth-child(1){
        border: 1px solid red
    }
    
    .form-group.invalid .form-message {
        color: red;
        margin-left: 0;
        padding: 5px 0 0 10px;
        font-size: 13px;
        text-align: left;
        margin:-15px 0 5px;
    }
    @media (max-width:280px) {
        &__viber,
        &__whatsapp,
        &__zalo,
        &__name {
            width: 100%;
            input {
                width: 100%;
            }
        }
        &__des {
            i {
                font-size: 12px;
            }
        }
        &__sub {
            input {
                width: 90%;
            }
            p {
                font-size: 12px;
            }
        }
    }
}