.header_20_0_0__flag {
    display: flex;
    margin-right: 8px
}

.header_20_0_0__flag img {
    width: 35px;
    margin: 0 3px;
    display: block;
    border: 1px solid #fff
}

.header_20_0_0__flag a:nth-child(1) {
    opacity: .5;
}

.header_20_0_0__flag a {
    transition: .3s
}

.header_20_0_0__flag a:hover {
    opacity: 1;
}

.header_20_0_0__flag-mb {
    display: none
}

.header_20_0_0 {
    position: fixed;
    background: #0b365b;
    top: 0;
    width: 100%;
    z-index: 100;
    transition: all .3s ease;
    border-top: 5px solid #1264ba;
}
img.mb{
    display: none !important;
}

.header_20_0_0__title {
    color: #0b365b;
    font-size: 15px;
    padding: 5px 0;
    text-transform: uppercase;
    border-bottom: 1px dotted #a2cbff;
    position: relative;
    margin-bottom: 5px
}

.header_20_0_0__title::after {
    content: "";
    border-bottom: 3px solid #1264ba;
    width: 80px;
    position: absolute;
    left: 0;
    bottom: -2px;
    display: block
}

.header_20_0_0#header_20_0_0.hide {
    top: 0
}

.header_20_0_0__task {
    border-left: 1px solid #6b859a;
    border-right: 1px solid #6b859a;
    padding: 6px 10px;
    cursor: pointer;
}

.header_20_0_0__box {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.header_20_0_0__box__section2 {
    display: flex;
    align-items: center;
    width: 18%
}

.header_20_0_0__box__section {
    display: flex;
    align-items: center;
    width: 75%
}

.header_20_0_0__box__item {
    padding: 18px 20px;
    display: block;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    position: relative;
    font-weight: 500
}

.header_20_0_0__box__item-logosb {
    display: none
}

.header_20_0_0__box__item-logosb img {
    max-width: 90%;
    margin: 20px 0 0
}

.header_20_0_0__box__item i.menu-icon {
    display: inline-block;
    font-style: initial;
    width: 12px;
    height: 12px;
    margin-left: 5px
}

.header_20_0_0__box__item+.header_20_0_0__box__item {
    margin-left: 5px
}

.header_20_0_0__boxMain.active {
    display: block;
    animation: animateleft .4s
}

.header_20_0_0__boxMain .menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0
}

.header_20_0_0__boxMain .menuSub:hover {
    background-color: #fa8146
}

.header_20_0_0__boxMain .menuSub:hover .arr::before {
    display: block
}

.header_20_0_0__boxMain .menuSub:hover .menuSubBox {
    display: block;
    animation: opac .4s
}

.header_20_0_0__boxMain .menuSubBox {
    display: none;
    position: absolute;
    width: 84%;
    right: 12px;
    top: 60px;
    background: #fff;
    color: #000;
    box-shadow: 0 0 4px #000
}

.header_20_0_0__boxMain .menuSubBox .row {
    padding: 15px 25px
}

.header_20_0_0__boxMain .menuSubBox .row>.col-xl-3>p {
    margin: 0
}

.header_20_0_0__boxMain .menuSubBox .row img {
    width: 100%;
    display: block;
    height: auto
}

.header_20_0_0__boxMain .menuSubBox.padding {
    padding-top: 40px
}

.header_20_0_0__boxMain .menuSubBox.padding h4 {
    margin-top: -43px
}

.header_20_0_0__boxMain .menuSubBox ul {
    list-style: none;
    padding: 0
}

.header_20_0_0__boxMain .menuSubBox ul.mnsub {
    padding: 42px 0 0
}

.header_20_0_0__boxMain .menuSubBox ul li {
    padding: 5px 0;
    font-size: 13px
}

.header_20_0_0__boxMain .menuSubBox a {
    color: #0b365b;
    transition: .1s
}

.header_20_0_0__boxMain .menuSubBox a:hover {
    opacity: .8
}

.header_20_0_0__boxMain .menuSubBox .address {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #07397D;
    padding: 10px
}

.header_20_0_0__boxMain .menuSubBox .address span {
    font-size: 14px;
    color: #fff
}

.header_20_0_0__boxMain .menuSubBox .address i {
    color: #F26649
}

.header_20_0_0__boxMain .menuSubTitle {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 10px
}

.header_20_0_0__boxMain .menuSubTitle:after,
.header_20_0_0__boxMain .menuSubTitle::before {
    content: "";
    display: block;
    position: absolute
}

.header_20_0_0__boxMain .menuSubTitle:before {
    width: 80px;
    height: 3px;
    background: #fff;
    left: 0;
    bottom: -1px
}

.header_20_0_0__boxMain .menuSubTitle:after {
    width: 100px;
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.2);
    left: 0;
    bottom: 0
}

.header_20_0_0__boxMain .search-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f26649;
    padding: 6px;
    border-radius: 50%;
    color: #fff;
    width: 35px;
    height: 35px;
    margin: 40px auto 0
}

.header_20_0_0__boxMain .search-2 i {
    display: flex;
    justify-content: center;
    align-items: center
}

.header_20_0_0__boxLogo {
    height: 40px
}

.header_20_0_0__boxCall {
    position: absolute;
    top: 13px;
    display: none
}

.header_20_0_0__boxNav {
    font-size: 25px;
    color: #fff;
    background-color: #1264ba;
    padding: 11px;
    margin-left: 30px;
    cursor: pointer;
    display: none
}

.header_20_0_0__boxNav:hover {
    background-color: #fa8146
}

.header_20_0_0__box .search-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f26649;
    padding: 6px;
    border-radius: 50%;
    color: #fff;
    width: 35px;
    height: 35px;
    margin: 40px auto 0;
    display: none
}

.header_20_0_0__box .search-1 i {
    display: flex;
    justify-content: center;
    align-items: center
}

.header_20_0_0__boxNoti {
    color: #93BDF3;
    position: relative;
    margin: 0 5px 0 15px;
    cursor: pointer
}

.header_20_0_0__boxNoti span {
    position: absolute;
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 100%;
    top: -10px;
    left: 10px;
    font-size: 12px;
    color: #fff
}

.header_20_0_0__boxLocal {
    color: #93BDF3;
    margin: 0 5px
}

.header_20_0_0__box-all {
    display: none;
    background-color: #fff;
    padding: 20px 0;
    border-bottom: 1px solid #000;
    position: absolute;
    width: 100%;
    top: 60px;
    z-index: 12;
    overflow: scroll;
    height: 580px
}

.header_20_0_0__box-all.active {
    display: block
}

.header_20_0_0__box-all ul {
    padding-left: 0;
    margin-top: 0
}

.header_20_0_0__box-all ul li {
    list-style: none;
    font-size: 13px
}

.header_20_0_0__box-all ul li:hover a {
    color: red
}

.header_20_0_0__box-allTitle {
    color: #0b365b;
    font-size: 15px;
    padding: 5px 0;
    text-transform: uppercase;
    border-bottom: 2px solid #1264ba;
    position: relative;
    margin-bottom: 0;
    margin-top: 0
}

.header_20_0_0 .modal .modal-title {
    font-size: 20px;
    text-align: center;
    color: #F26649
}

.header_20_0_0 .modal .search {
    width: 90%;
    margin: 20px auto;
    position: relative
}

.header_20_0_0 .modal .search input {
    width: 100%;
    padding: 5px 40px 5px 10px;
    border-radius: 4px;
    border: 1px solid #248de8;
    background: #f2f8fd
}

.header_20_0_0 .modal .search button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background: #248de8;
    border: none;
    width: 38px;
    border-radius: 0 4px 4px 0;
    color: #fff;
    cursor: pointer
}

.header_20_0_0.menufix {
    animation: animatetop .4s;
    background: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1)
}

.header_20_0_0.menufix .header_20_0_0__box__item {
    padding: 34px 10px
}

.header_20_0_0.menufix .header_20_0_0__boxLogo img {
    transition: .3s
}

.header_20_0_0.menufix .header_20_0_0__boxMain .menuSubBox {
    top: 85px
}

.header_20_0_0.menufix .header_20_0_0__boxMain .search-2 {
    margin: 30px auto 0
}

@media (max-width: 1024px) {
    img.mb{
        display: inline-block !important;
        width: 30px!important;
    }
    .header_20_0_0__flag {
        justify-content: center;
    }

    .header_20_0_0__flag img {
        border: 1px solid #626262
    }

    .header_20_0_0__flag-pc {
        display: none
    }

    .header_20_0_0__flag-mb {
        display: flex
    }

    .header_20_0_0__task {
        margin-right: 0;
        position: absolute;
        right: 0;
        top: 10px
    }

    .header_20_0_0__box {
        display: block;
        height: 60px
    }

    .header_20_0_0__box__section {
        display: block;
        width: 100%
    }

    .header_20_0_0__box__section2 {
        display: block;
        width: 100%;
        text-align: center
    }

    .header_20_0_0__box-bg {
        background: rgba(0, 0, 0, 0.8);
        width: 100%;
        height: 100%;
        content: "";
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        animation: opac .4s
    }

    .header_20_0_0__box-bg.active {
        display: block
    }

    .header_20_0_0__box__item {
        padding: 9px 15px;
        display: flex;
        font-weight: 600;
        border-top: 1px dotted #d4d4d4;
        text-align: left;
        color: #333
    }

    .header_20_0_0__box__item br {
        display: none
    }

    .header_20_0_0__box__item-menuHome {
        display: none
    }

    .header_20_0_0__box__item-logosb {
        display: block;
        padding-left: 10px;
        text-align: center
    }

    .header_20_0_0__boxMain {
        display: none;
        width: 270px;
        background: #fff;
        position: fixed;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 3;
        overflow: auto;
        padding-bottom: 20px
    }

    .header_20_0_0__boxMain .menu {
        display: block;
        padding-top: 30px
    }

    .header_20_0_0__boxMain .menuSub {
        position: relative
    }

    .header_20_0_0__boxMain .menuSub .menu-icon {
        display: block;
        font-size: 11px;
        color: #f26649;
        width: 100%;
        position: absolute;
        right: 10px;
        text-align: right
    }

    .header_20_0_0__boxMain .menuSub .arr::before {
        display: none
    }

    .header_20_0_0__boxMain .menuSub:hover .arr::before {
        display: none
    }

    .header_20_0_0__boxMain .menuSub:hover .menuSubBox {
        display: none
    }

    .header_20_0_0__boxMain .menuSub:hover>a {
        color: #fff
    }

    .header_20_0_0__boxMain .menuSubBox {
        position: inherit;
        top: 0;
        right: 0;
        border-radius: 0;
        width: 100%;
        padding: 10px 15px
    }

    .header_20_0_0__boxMain .menuSubBox .row {
        padding: 0
    }

    .header_20_0_0__boxMain .menuSubBox ul.mnsub {
        padding: 0
    }

    .header_20_0_0__boxMain .menuSubBox .address {
        display: none
    }

    .header_20_0_0__boxMain .menuSubBox.padding {
        padding-top: 0
    }

    .header_20_0_0__boxMain .menuSubBox.padding h4 {
        margin-top: 0
    }

    .header_20_0_0__boxMain .menuSubTitle {
        margin-top: 10px
    }

    .header_20_0_0__boxMain .search-2 {
        display: none
    }

    .header_20_0_0__boxNav {
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 0;
        background-color: transparent;
        padding: 11px 0;
        display: block
    }

    .header_20_0_0__box .search-1 {
        display: flex;
        position: absolute;
        right: 45px;
        top: -23px
    }

    .header_20_0_0__boxRegist,
    .header_20_0_0__boxPhone {
        margin: 0 5px;
        display: block;
        text-align: center;
        border-radius: 6px;
        padding: 8px
    }

    .header_20_0_0__boxNoti2 {
        position: absolute;
        right: 50px;
        top: 15px;
        background: #f26649;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 20px
    }

    .header_20_0_0__boxNoti2 span {
        position: absolute;
        width: 20px;
        height: 20px;
        background: red;
        border-radius: 100%;
        top: -5px;
        left: 20px;
        font-size: 12px;
        color: #fff
    }

    .header_20_0_0__boxPhone {
        margin: 20px 0 0;
        background: #EB461D;
        color: #fff;
        width: 100%
    }

    .header_20_0_0__boxPhone::before {
        left: 60px;
        top: 10px
    }

    .header_20_0_0__boxRegist {
        margin: 0 10px
    }

    .header_20_0_0__boxNoti,
    .header_20_0_0__boxLocal {
        display: none
    }

    .header_20_0_0__box-all.active {
        display: none
    }

    .header_20_0_0__boxLogo img {
        margin-top: 10px
    }

    .header_20_0_0.menufix {
        animation: none
    }

    .header_20_0_0.menufix .header_20_0_0__boxPhone {
        margin-top: 15px
    }

    .header_20_0_0.menufix .header_20_0_0__box__item {
        padding: 9px 15px
    }

    .header_20_0_0.menufix .header_20_0_0__boxLogo {
        margin-top: 0
    }

    .header_20_0_0.menufix .header_20_0_0__boxLogo img {
        height: 45px
    }

    .header_20_0_0.menufix .header_20_0_0__boxMain .menuSubBox {
        top: 0
    }
}

@media (max-width: 812px) {
    .header_20_0_0__boxNav {
        left: 20px
    }

    .header_20_0_0__boxCall {
        right: 0
    }

    .header_20_0_0__box .search-1 {
        right: 60px;
        top: -25px;
        width: 40px;
        height: 40px
    }
}